<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ site.favicon | default: '/images/favicon.jpg' | relative_url }}">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <div class="site-container">
      
      <aside class="layout__sidebar">
        {% include sidebar.html %}
      </aside>

      <main class="layout__content">
        <div class="content-body">
          {{ content }}
        </div>
      </main>

    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>